<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="test-baseball">
  <display-name>Systeme de gestion de ligue baseball</display-name>
  <context-param>
    <param-name>hey?</param-name>
    <param-value>valeurDeExempleParam1</param-value>
  </context-param>
  <context-param>
    <param-name>Wtf does this shit?</param-name>
    <param-value>valeurDeExempleParam2</param-value>
  </context-param>
  <listener>
    <listener-class>ligueBaseballServlet.BaseballSessionListener</listener-class>
    <listener-class>ligueBaseballServlet.BaseballContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>ligueBaseballServlet.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>ligueBaseballServlet.Test</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>ligueBaseballServlet.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectionMembre</servlet-name>
    <servlet-class>ligueBaseballServlet.SelectionMembre</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListePretMembre</servlet-name>
    <servlet-class>ligueBaseballServlet.ListePretMembre</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjoutEquipe</servlet-name>
    <servlet-class>ligueBaseballServlet.AjoutEquipe</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AfficherEquipe</servlet-name>
    <servlet-class>ligueBaseballServlet.AfficherEquipe</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Menu</servlet-name>
    <servlet-class>ligueBaseballServlet.Menu</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SupprimerEquipe</servlet-name>
    <servlet-class>ligueBaseballServlet.SupprimerEquipe</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreerJoueur</servlet-name>
    <servlet-class>ligueBaseballServlet.SupprimerEquipe</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AfficherJoueur</servlet-name>
    <servlet-class>ligueBaseballServlet.SupprimerEquipe</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SupprimerJoueur</servlet-name>
    <servlet-class>ligueBaseballServlet.SupprimerEquipe</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreerMatch</servlet-name>
    <servlet-class>ligueBaseballServlet.SupprimerEquipe</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreerArbitre</servlet-name>
    <servlet-class>ligueBaseballServlet.SupprimerEquipe</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AfficherArbitre</servlet-name>
    <servlet-class>ligueBaseballServlet.SupprimerEquipe</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ArbitrerMatch</servlet-name>
    <servlet-class>ligueBaseballServlet.SupprimerEquipe</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EntrerResultat</servlet-name>
    <servlet-class>ligueBaseballServlet.SupprimerEquipe</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AfficherResultats</servlet-name>
    <servlet-class>ligueBaseballServlet.SupprimerEquipe</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportXml</servlet-name>
    <servlet-class>ligueBaseballServlet.ExportXml</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImportXml</servlet-name>
    <servlet-class>ligueBaseballServlet.ImportXml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
   	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  	<url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjoutEquipe</servlet-name>
    <url-pattern>/AjoutEquipe</url-pattern>
    <url-pattern>/ajoutequipe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AfficherEquipe</servlet-name>
    <url-pattern>/afficherEquipe</url-pattern>
    <url-pattern>/afficherequipe</url-pattern>
    <url-pattern>/afficherEquipe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Menu</servlet-name>
    <url-pattern>/Menu</url-pattern>
    <url-pattern>/menu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SupprimerEquipe</servlet-name>
    <url-pattern>/SupprimerEquipe</url-pattern>
    <url-pattern>/supprimerEquipe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreerJoueur</servlet-name>
    <url-pattern>/CreerJoueur</url-pattern>
    <url-pattern>/creerJoueur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AfficherJoueur</servlet-name>
    <url-pattern>/AfficherJoueur</url-pattern>
    <url-pattern>/afficherJoueur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SupprimerJoueur</servlet-name>
    <url-pattern>/SupprimerJoueur</url-pattern>
    <url-pattern>/supprimerJoueur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreerMatch</servlet-name>
    <url-pattern>/CreerMatch</url-pattern>
    <url-pattern>/creerMatch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreerArbitre</servlet-name>
    <url-pattern>/CreerArbitre</url-pattern>
    <url-pattern>/creerArbitre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AfficherArbitre</servlet-name>
    <url-pattern>/AfficherArbitre</url-pattern>
    <url-pattern>/afficherArbitre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArbitrerMatch</servlet-name>
    <url-pattern>/ArbitrerMatch</url-pattern>
    <url-pattern>/arbitrerMatch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EntrerResultat</servlet-name>
    <url-pattern>/EntrerResultat</url-pattern>
    <url-pattern>/entrerResultat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AfficherResultats</servlet-name>
    <url-pattern>/AfficherResultats</url-pattern>
    <url-pattern>/afficherResultats</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportXml</servlet-name>
    <url-pattern>/ExportXml</url-pattern>
    <url-pattern>/exportxml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImportXml</servlet-name>
    <url-pattern>/ImportXml</url-pattern>
    <url-pattern>/importxml</url-pattern>
  </servlet-mapping>
</web-app>
